.container {

  width: 1170px;

  padding: 0 15px;

  margin: 0 auto;

}






.container {

  width: 1170px;

  padding: 0 15px;

  margin: 0 auto;

}

.lesson-wrapper {

  height: 500px;

  padding-bottom: 80px;

  background-color: #f7f7f7;

  /* Change the text-align property to center */

  text-align: center;


}


.heading {

  padding-top: 60px;

  padding-bottom: 30px;

  color: #5f5d60;

}


.heading h2 {

  font-weight: normal;

}


.lesson {

  float: left;

  width: 25%;

}

/* Add CSS for lesson-icon */

.lesson-icon {

  position: relative;

  
}
/* Add CSS for <p> tags inside lesson-icon */

.lesson-icon p {

  position: absolute;

  top: 90px;

  width: 100%;

  color: white;

}

/* Add CSS for txt-contents */

.txt-contents {

  width: 80%;

  display: inline-block;

  margin-top: 20px;

  font-size: 15px;

  color: black;

}



