
@media (max-width: 1000px) {
  .header {
    flex-wrap: wrap;
  }
  body {
    width: 50%;
  }
}

/* Layout for Smartphone Devices */
/* Set the breakpoint to 670px and under for the media query */
@media (max-width: 670px) {
 .header-list {
 flex-wrap: wrap;
 flex-direction: column;
 height: 30px;

 }
 .header-list h3{
 	font-size: 10px;
 }
 .header-logo{
 	font-size:10px;
 	height: 15px;
 }
.container{
	background:#FAF0E6;
	height:100px;
}
.copyright{
	margin-top: 30px;
}
}
  
   
