.container {
  display: flex;
}
.lesson-icon {
  flex: auto;
}
@media (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
  }
  .lesson {
    width: 50%;
  }
}

/* Layout for Smartphone Devices */
/* Set the breakpoint to 670px and under for the media query */
@media (max-width: 670px) {
 
  .container {
    flex-direction: column;
  }
  

  .lesson {
    margin: 0 auto;
  }
  
} 
