h1 {
  /* Change the color to #ff0000 */
  color: ##0000ff;
  
}

a {

  text-decoration: none;

}
.header {

  background-color: #49E0D0;

  color: #fff;

  }
.header-logo{
	background-color:#2f5167;
	height:40px;
	font-size:30px;
	text-align:center;
}
.header-list {
height:50px;

}
.header-list dt {

  float: left;

  text-size:20px;
  padding: 0px 60px;

}

.scroll {
text-size:40px;
color:black;
}
.container {

  padding: 10px 0 100px 0;

  background:#FAF0E6;

  background-size: cover;

  color: black;

  
  text-align: center;
  height:260px;
  width=100%;
}
.aboutme p{
 font-family: "Times New Roman";
 font-size:20px;
}
.copyright{
 color:	#C0C0C0;
text-align:center;
}
@media only screen and (max-width: 480px) {
.container {
    width: 100%;
    
  }
 .header-list h3{
 	font-size: 14px;
 }
 .header-logo{
 	font-size:18px;
 	height: 20px;
	font-family:serif;
 }
.container{
	background:#FAF0E6;
	height:500px;
}
.copyright{
	margin-top: 30px;
}
.header-list dt {

  float: none;
  
  text-size:14px;
  padding:0px 0px;

}
.header-list{	
  background-color:#49E0D0;
  display: flex;
  height:80px;
}
.header{
  height:120px;
  background-color:#49E0D0;
}
}
